.staringpage {
    flex: 2;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  

.startingh2 {
    font-size: 65px;
    text-align: center;
    color:  rgb(79, 12, 12);
    padding: 5px;
    margin-bottom: 20px;
  }

.StyledSubTitle {
    font-size: 27px;
    text-align: center;
    color:  rgb(79, 12, 12);
    padding: 5px;
    margin-bottom: 25px;
}

.StyledButton {
    padding: 10px;
    width: 150px;
    background-color: transparent;
    font-size: 16px;
    border: rgb(79, 12, 12); /* Replace with primary color */
    border-radius: 25px;
    color: rgb(79, 12, 12); /* Replace with primary color */
    text-decoration: none;
    text-align: center;
    transition: ease-in-out 0.3s;
  }
  
  .StyledButton:hover {
    background-color: rgb(153, 83, 83); /* Replace with primary color */
    color: rgb(153, 83, 83); /* Replace with theme color */
    cursor: pointer;
  }

  .button-group {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 25px;
  }
  
  